<ul class="nav justify-content-center navbar-light bg-light">

    {% if request.user.is_authenticated %}

        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Добро
                пожаловать, {{ user.username }}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
        </li>
    {% endif %}


</ul>